/* ===========================
=            MAIN            =
=========================== */
/*
 * Abstracts
*/
/* ================================
=            FUNCTIONS            =
================================ */
/*
 *  LIGHTEN COLOUR
*/
/* End of LIGHTEN COLOUR */
/*
 *  DARKEN COLOUR
*/
/* End of DARKEN COLOUR */
/* ====  End of FUNCTIONS  ===== */
/* =============================
=            MIXINS            =
============================= */
/**
 * MEDIA QUERIES
**/
/*  End of MEDIA QUERIES  */
/**
 * FLEXBOX
**/
/* End of FLEXBOX */
/* ====  End of MIXINS  ===== */
/* ============================================
=            VARIABLES: GLOBAL            =
============================================ */
/*
 * General
*/
/* End of GENERAL */
/*
 * COLOURS
*/
/* --- */
/* End of COLOURS */
/*
 * GRID
*/
/* --- */
/* End of GRID */
/*
 * FONTS
*/
/* --- */
/* End of FONTS */
/* ====  End of VARIABLES: GLOBAL  ===== */
/* End of Abstracts */
/*
 * Base
*/
@import url(~normalize.css);
/* =============================
=            INDEX            =
============================= */
a {
  color: black;
  text-decoration: none; }

.main {
  font-size: 14px;
  max-width: 600px;
  margin: 3rem auto; }

/* ====  End of INDEX`  ===== */
/* End of Base */
/*
 * Layout
*/
/* =============================
=            HEADER            =
============================= */
.c-header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid whitesmoke;
  height: 3rem;
  padding: 2.5rem 2rem 2.25rem; }
  .c-header .c-header__title {
    color: #4d4d4d; }

/* ====  End of HEADER  ===== */
/* ==========================
=            NAV            =
========================== */
.c-nav {
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 1rem 2rem; }
  .c-nav .c-nav__item {
    background: #fafafa;
    box-shadow: 1px 1px 5px #cccccc, -1px -1px 5px #cccccc;
    display: inline-block;
    font-size: 90%;
    padding: 0.5rem 1rem; }
    .c-nav .c-nav__item.active {
      background: gainsboro;
      box-shadow: 0 0 4px #333 inset; }
    .c-nav .c-nav__item:not(:last-child) {
      margin-right: 1rem; }

/* ====  End of NAV  ===== */
/* ===========================
=            PAGE            =
=========================== */
.page {
  background: #fafafa;
  border-radius: 0.5rem;
  min-height: 300px;
  padding: 1rem; }

/* ====  End of PAGE  ===== */
/* =============================
=            FOOTER            =
============================= */
/* --- */
/* ====  End of FOOTER  ===== */
/* End of Layout */
/*
 * Components
*/
/* =============================
=            BUTTON            =
============================= */
/* ====  End of BUTTON  ===== */
/* End of Components */
/*
 * Pages
*/
/* ===========================
=            HOME            =
=========================== */
/* --- */
/* ====  End of HOME  ===== */
/* End of Pages */
/*
 * Hacks
*/
/* ================================
=            SHAME            =
================================ */
/* --- */
/* ====  End of SHAME  ===== */
/* End of Hacks */
/* ====  End of MAIN  ===== */
