/* ==========================
=            NAV            =
========================== */

.c-nav {
  border-radius: $border-radius;
  margin-bottom: 0.5rem;
  padding: 1rem 2rem;

  .c-nav__item {
    background: tint($colour-primary, 50%);
    box-shadow:
      1px 1px 5px hsla(0, 0%, 80%, 1),
      -1px -1px 5px hsla(0, 0%, 80%, 1);
    display: inline-block;
    font-size: 90%;
    padding: 0.5rem 1rem;

    &.active {
      background: shade($colour-primary, 10%);
      box-shadow: 0 0 4px #333 inset;
    }

    &:hover {

    }

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

/* ====  End of NAV  ===== */
